<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipi.torpiles.cyprustraveler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CyprusTraveler"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- region [START Activities] -->
            <!-- Home/Main Activity -->
            <activity
                android:name=".ui.activities.MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        <!-- endregion [END Activities] -->

    </application>

</manifest>
